@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Salsa';
  src: url('./fonts/Salsa/Salsa-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'Andika';
  src: url('./fonts/Andika/Andika-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'AndikaBold';
  src: url('./fonts/Andika/Andika-Bold.ttf') format('opentype'),
}

@font-face {
  font-family: 'AndikaItalic';
  src: url('./fonts/Andika/Andika-Italic.ttf') format('opentype'),
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'UbuntuBold';
  src: url('./fonts/Ubuntu/Ubuntu-Bold.ttf') format('opentype'),
}

@font-face {
  font-family: 'UbuntuLight';
  src: url('./fonts/Ubuntu/Ubuntu-Light.ttf') format('opentype'),
}

@font-face {
  font-family: 'McLaren';
  src: url('./fonts/McLaren/McLaren-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'Pottaone';
  src: url('./fonts/Potta_One/PottaOne-Regular.ttf') format('opentype'),
}