@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Salsa';
  src: url('./fonts/Salsa/Salsa-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'Andika';
  src: url('./fonts/Andika/Andika-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'AndikaBold';
  src: url('./fonts/Andika/Andika-Bold.ttf') format('opentype'),
}

@font-face {
  font-family: 'AndikaItalic';
  src: url('./fonts/Andika/Andika-Italic.ttf') format('opentype'),
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'UbuntuBold';
  src: url('./fonts/Ubuntu/Ubuntu-Bold.ttf') format('opentype'),
}

@font-face {
  font-family: 'UbuntuLight';
  src: url('./fonts/Ubuntu/Ubuntu-Light.ttf') format('opentype'),
}

@font-face {
  font-family: 'McLaren';
  src: url('./fonts/McLaren/McLaren-Regular.ttf') format('opentype'),
}

@font-face {
  font-family: 'Pottaone';
  src: url('./fonts/Potta_One/PottaOne-Regular.ttf') format('opentype'),
}

.Background{
  background-color: black;
  opacity:0;
}

.Background:hover{
  opacity: 90%;
  animation-duration: 1000s;
  animation-name: fadeIn;
}

.footer-bg{
  background-image: url('../src/assets/footer.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For Internet Explorer & Edge */
body {
  -ms-overflow-style: none;
}

.home-background{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url(/src/assets/homebackground.jpg);
  background-size: cover;
  background-position: 70% 42%;
  background-repeat: no-repeat;
}

.background-color{
  background: linear-gradient(180deg, rgba(0,0,0,0) 2%, rgba(0,0,0,1) 105%)
}

.itinerary-home{
  background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0, 0, 0, 0.245) 50%, rgba(0,0,0,1)), url(/src/assets/itinerary-home.jpg);
  background-size: cover;
  background-position: 70% 42%;
  background-repeat: no-repeat;
}

.destination-background{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url(/src/assets/destination.jpg);
  background-size: cover;
  background-position: 70% 42%;
  background-repeat: no-repeat;
}

.hidden-background{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url(/src/assets/hidden-spot.jpg);
  background-size: cover;
  background-position: 70% 80%;
  background-repeat: no-repeat;
}

.itinerary-background{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url(/src/assets/itinerary.jpg);
  background-size: cover;
  background-position: 70% 80%;
  background-repeat: no-repeat;
}

.profile-background{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), url(/src/assets/login.jpg);
  background-size: cover;
  background-position: 70% 80%;
  background-repeat: no-repeat;
}

.glass-effect{
    border: 0.5px transparent rgb(58, 58, 58);
    box-shadow: 0 0 10px rgb(46, 46, 46);
    backdrop-filter: blur(30px);
}